<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="ArtsdatabankenSIConnectionString" 
			connectionString="Data Source=;Initial Catalog=;Persist Security Info=True;User ID=;Password=" 
			providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>