<div class="l-fillparent">
    <div class="l-paneltoolbar">
        <h3 style="margin-top: 10px; margin-left: 20px; background-color: white">
            <a class="artsdatabank-logo" data-bind="attr: { href: res().mainUrl }" alt="Artsdatabanken-logo"></a>
            <span style="top: 20px; position: absolute; left: 120px;" data-bind="text: res().mainTitle"></span>
        </h3></div>
    <div class="l-sidebarcontent l-vscroll l-fullwidth">
        <div class="container-fluid">
            <div class="form-group"></div>
            <div data-bind="compose: 'viewmodels/treeview'"></div>
        </div>
    </div>
</div>

