
<div class="panel-group" >
    <div class="panel panel-default">
        <div data-bind="compose: { view: 'pager' }"></div>
        <div class="panel-heading">
            <h4 class="panel-title">
                <p style="display: inline; margin-right: 5px;">Naturområder i utvalget</p>
            </h4>

        </div>
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row-fluid">
                    <!--<div tabindex="0" id="listPopup" role="button" data-toggle="popover" data-placement="bottom"></div>-->
                    <div id="listPopup" data-toggle="popover"></div>
                    <div class="table-responsive">
                        <table class="naturelist table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th data-bind="click: sortListColumn.bind($data, 'natureLevelDescription')" class="pointerCursor" >Naturnivå</th>
                                    <th data-bind="click: deepSortListColumn.bind($data, 'parameters', 'mainTypeDescription')" class="pointerCursor" >Naturområdetype - Hovedtypegruppe</th>
                                    <th data-bind="click: deepSortListColumn.bind($data, 'parameters', 'codeDescription')" class="pointerCursor">Naturområdetype</th>
                                    <th data-bind="click: deepSortListColumn.bind($data, 'parameters', 'share')" class="pointerCursor">Andel</th>
                                    <th data-bind="click: sortListColumn.bind($data, 'surveyScale')" class="pointerCursor">Målestokk</th>
                                    <th data-bind="click: deepSortListColumn.bind($data, 'natureAreaDescriptionVariables', 'codeAndValue')" class="pointerCursor">Beskrivelsesvariabler</th>
                                    <th data-bind="click: sortListColumn.bind($data, 'surveyedYear')" class="pointerCursor">Kartlagt år</th>
                                    <th data-bind="click: sortListColumn.bind($data, 'contractor')" class="pointerCursor">Oppdragsgiver</th>
                                    <th data-bind="click: sortListColumn.bind($data, 'surveyer')" class="pointerCursor">Kartlegger</th>
                                    <th data-bind="click: sortListColumn.bind($data, 'program')" class="pointerCursor">Program</th>
                                    <th>Alle detaljer</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: itemList">
                                <tr>
                                    <td><a data-bind="text: natureLevelDescription, attr: {href: natureLevelUrl, target: '_blank'}"></a></td>
                                    <td>
                                        <legend-widget params="natureTypes: natureTypes, level: 'main', element: $element"></legend-widget>
                                    </td>
                                    <td>
                                        <legend-widget params="natureTypes: natureTypes, level: 'sub', element: $element"></legend-widget>
                                    </td>
                                    <td>
                                        <chart-widget params="natureTypes: natureTypes, natureTypeShares:natureTypeShares, element: $element"
                                                       data-bind="click: function(data, event) { $parent.showDetails($index(), data, event, 'right', 'body') }"></chart-widget>
                                    </td>
                                    <td><a data-bind="text: surveyScale, attr: {href: 'http://www.artsdatabanken.no/KartleggingNiN', target: '_blank'}"></a></td>
                                    <td>
                                        <!--<table>-->
                                            <!--<tbody data-bind="foreach: natureAreaDescriptionVariables">-->
                                            <!--<tr>-->
                                                <!--<td>-->
                                                    <!--<a data-bind="text: codeAndValue, attr: {href: url, title: description}"></a> &nbsp;<br> -->
                                                <!--</td>-->
                                            <!--</tr>-->
                                            <!--</tbody>-->
                                        <!--</table>-->
                                        <variable-widget params="natureTypes: natureTypes, element: $element"></variable-widget>
                                    </td>
                                    <td><span data-bind="text: surveyedYear" /></td>
                                    <td><span data-bind="text: contractor" /></td>
                                    <td><span data-bind="text: surveyer" /></td>
                                    <td><span data-bind="text: program" /></td>
                                    <td><a data-bind="click: function(data, event) { $parent.showDetails($index(), data, event, 'left') }">Alle detaljer</a></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="11">
                                        Side <span data-bind="text: pagePositionText" />. Totalt <span data-bind="text: totalListItems" /> naturområder i ditt utvalg.
                                        <!--<br/>Side <span data-bind="text: currentPage" /> av <span data-bind="text: lastPageIndex" /> sider-->
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
