<div class="l-fillparent">
    <nav class="menubar menubar-default  menubar-static-top" role="navigation">
      

        <div class="toggle-full-bar" 
             data-bind="click: toggleleftmenu, attr: {title: res().toggleLeftMenuButtonTitle}" >
            <span id="toggleLeftMenuButton" data-bind="attr: {title: res().toggleLeftMenuButtonTitle}"
                    class="pull-left glyphicon glyphicon-menu-left small-screen-only "
                    style="padding: 0; height: 36px; margin-right: 5px; position: absolute"></span>
        </div>
        <div class="dropdown pull-left mainSelectButton" data-bind="attr: {title: res().mainDropdownTitle}">
            <a href="#" class="btn btn-default icon-btn dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <div data-bind="attr: { 'class': ('icon-' + activeNavTab().classname + '-sm btn-icon') }"></div>
                <span class="btn-icon-label" data-bind="text: res()[activeNavTab().name]"></span><span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-left" data-bind='foreach: navTabs'>
                <li data-bind="click: $parent.gotoTab, visible: visible, css: { active: (id == $parent.activeView()) }, attr: {title: $parent.res()[title]}">
                    <a class="btn icon-btn" style="text-align: left">
                        <div data-bind="attr: { 'class': ('icon-' + classname + '-sm btn-icon')}"></div><span data-bind="text: $parent.res()[name]"></span></a>
                </li>
            </ul>
        </div>
        <div class="menubar-left menubar-air">&nbsp;&nbsp;&nbsp;</div>
        <div data-bind="compose: toolbar"></div>

    </nav>
    <div id="mainview" class="l-panelcontent">
        <div data-bind="router: { transition: 'entrance', cacheViews: true }"></div>
    </div>

</div>
