<div class="form-inline">
    <div class="hidden-xs form-group bookmarks" data-bind="css: { 'open panel panel-default': openBookmarks()}">
        <div data-bind="css: { 'panel-body': openBookmarks}, visible: bookmarks().length">
            <button class="btn btn-link btn-xs pull-right glyphicon glyphicon-remove"
                    data-bind="click: toggleBookmarksContainer,
                    css: { 'glyphicon-folder-open': !openBookmarks() },
                    visible: (bookmarks().length > 5 || openBookmarks())"></button>
            <div class="b-container pull-left" data-bind="foreach: tiledBookmarks()">
                <div class="b-row" data-bind="foreach: $data">
                    <div class="form-control bookmark"
                         title="Sett utvalg basert på dette bokmerket"
                         data-bind="click: $parents[1].applyFilter, style: {'width': '48px', 'height': '34px', 'background-image': 'url(' + image + ')'}">
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    <!--<a type="button" data-bind="attr: {href: res().aboutUrl, target: '_new', title: res().about}" class="btn info-button"></a>-->
    <a data-bind="click: showAbout, attr: {title: res().about, type: 'button'}" class="btn info-button icon-info-xs"></a>
    <button type="button" data-bind="click: resource.chooseNorwegian, attr: {title: res().norwegian}" class="btn lang-no"></button>
    <button type="button" data-bind="click: resource.chooseEnglish, attr: {title: res().english}" class="btn lang-en"></button>

</div>
