<div id="viewport">
    <div id="header" data-bind="compose: 'viewmodels/headerPanel'">&nbsp;</div>
    <div id="contentWrapper" class="content">
        <div id="content">
            <div id="featureInfo" data-bind="compose: 'viewmodels/featureInfo'"></div>
            <div id="featurePopover" data-bind="compose: 'viewmodels/featurePopover'"></div>
            <div id="gridPopover" data-bind="compose: 'viewmodels/gridPopover'"></div>
            <div id="leftpanel" data-bind="compose: 'viewmodels/leftPanel'">&nbsp;</div>
            <div id="main" data-bind="compose: 'viewmodels/mainPanel'">
            </div>
            <footer data-bind="compose: 'viewmodels/footer'"></footer>
        </div>
        <!--<div id="footer">&nbsp;</div>-->
    </div>
</div>
