<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MatrikkelBasisBinding">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://www.test.matrikkel.no:443/geointegrasjon/matrikkel/wsapi/v1/BasisService"
                binding="basicHttpBinding" bindingConfiguration="MatrikkelBasisBinding"
                contract="BasisFelles.MatrikkelBasisService" name="MatrikkelBasis" />
        </client>
    </system.serviceModel>
</configuration>